
node_modules/
*/node_modules/
client/node_modules/
server/node_modules/


.env
.env.local
.env.production
server/.env
client/.env


dist/
build/
client/dist/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db


uploads/
server/uploads/